LLM_SERVICE_ENDPOINT="YOUR_LLM_SERVICE_ENDPOINT_HERE"
LLM_SERVICE_API_KEY="YOUR_LLM_SERVICE_API_KEY_HERE"
LLM_SERVICE_PLANNING_MODEL_NAME="YOUR_LLM_SERVICE_PLANNING_MODEL_NAME_HERE"
LLM_SERVICE_GENERAL_MODEL_NAME="YOUR_LLM_SERVICE_GENERAL_MODEL_NAME_HERE"
NAMESPACE="my_project_namespace/"
SOLACE_BROKER_URL="ws://localhost:8080"
SOLACE_BROKER_VPN="default"
SOLACE_BROKER_USERNAME="default"
SOLACE_BROKER_PASSWORD="default"
SOLACE_DEV_MODE="false"
SESSION_SECRET_KEY="please_change_me_in"
FASTAPI_HOST="127.0.0.1"
FASTAPI_PORT="8000"
ENABLE_EMBED_RESOLUTION="True"
AUDIO_TRANSCRIPTION_MODEL_NAME="whisper"
AUDIO_TRANSCRIPTION_API_BASE="https://lite-llm.mymaas.net/"
AUDIO_TRANSCRIPTION_API_KEY="<TOKEN>"
IMAGE_MODEL_NAME="openai/imagen-4"
IMAGE_DESCRIPTION_MODEL_NAME="gemini-2.5-flash"
IMAGE_SERVICE_API_KEY="<TOKEN>"
IMAGE_SERVICE_ENDPOINT="https://lite-llm.mymaas.net/"
GOOGLE_API_KEY="YOUR_GOOGLE_API_KEY_HERE"
